.recipe{
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: white;
    padding: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.89); 
    box-shadow: 6px 6px 15px -2px rgba(0,0,0,0.89);
}

.recipe_list {
    display: flex;
    padding: 0;
    justify-content: center;
}

.recipe_list_item {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}

.recipe_list_item::after{
    content: ',';
}

.recipe_list_item:last-child::after{
    content: '.';
}

.page_title {
    text-align: center;
    margin: 40px auto;
    color: #333;
}

.method{
    text-align: left;
    line-height: 1.5em;
}