.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #E0AFA0;
    /* width: 100%; */
    padding: 15px;
}
.nav-item{
    padding: 10px;
}

.nav-brand img{
    height: 60px;
}

.nav-items{
    display: flex;
    justify-content: center;
}